/*---------------------------- 
DATE:2016/4/16
AUTHOR:LERIDY_LEI
ver.:1.0.0
DESCRIPTION:This is an less/css
file for our design .
 ---------------------------*/
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 18px microsoft yahei, sans-serif;
  background-color: #eee;
}
a {
  text-decoration: none;
  color: #000;
}
input,
textarea,
*[class$="-inpt"],
*[class$="-textarea"] {
  font-family: "microsoft yahei";
  border-radius: 3px;
  outline: none;
  resize: none;
}
*[class$="-notice"] {
  position: relative;
  font-size: 12px;
}
*[class$="-notice"]:before {
  content: " * ";
}
a,
.main-title,
.flk-link,
.w-tag,
.s-icon,
.post-search,
.nav-item,
.lg-label,
.lg-inpt {
  display: inline-block;
}
.flk-notice,
.ms-info,
.pagination,
.page-nav,
.lg-notice,
.w-atc-label {
  display: block;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
::selection {
  background: #fd6d6d;
  color: #fff;
}
/*-------------------- 
   社交网络图标部份
 -------------------*/
.fa {
  color: #a0a0a0;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.fa-weibo:hover {
  color: #f00;
}
.fa-google-plus:hover {
  color: #f00;
}
.fa-twitter:hover {
  color: #1AB2E8;
}
.fa-github:hover {
  color: #000;
}
.fa-facebook-official:hover {
  color: #3B5B98;
}
/*---------------------
     社交CSS完成 
 --------------------*/
/*---------------- 
这里是网页头部的less文件引入
 ---------------*/
.page-header {
  position: fixed;
  z-index: 9999;
  height: 60px;
  width: 100%;
  line-height: 60px;
  background: #fff;
  border-bottom: 1px solid #c8c8c8;
}
.h-banner {
  position: absolute;
  left: 0px;
}
.h-banner a {
  margin-left: 5px;
  font: italic 30px "microsoft jhenghei";
}
.h-logo {
  vertical-align: bottom;
  width: 60px;
  height: 60px;
}
.social-icon {
  position: absolute;
  top: 0;
  right: 50px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
}
.social-icon .s-icon {
  width: 20px;
}
.page-nav {
  width: 35%;
  margin: 0 auto;
}
.nav-ls {
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.nav-ls .nav-item {
  font-size: 18px;
  width: 25%;
  text-align: center;
}
.nav-ls .nav-item a {
  height: 55px;
  padding: 0 6px;
  color: #333;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}
.nav-ls .nav-item a:hover {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  border-bottom: 5px solid #fd6d6d;
}
.nav-ls .nav-item .active {
  font-weight: bold;
  color: #000;
  font-size: 18px;
  border-bottom: 5px solid #fd6d6d;
}
.post-search {
  position: absolute;
  top: 0;
  right: 250px;
}
.post-search .s-lab {
  position: relative;
  right: -27px;
}
.post-search .search-inpt {
  width: 2px;
  height: 25px;
  border: 1px solid #ccc;
  outline: none;
  padding-left: 25px;
  border-radius: 25px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.post-search .search-inpt:focus {
  width: 150px;
  border: 1px solid #fd6d6d;
}
/*---------------------
     header CSS完成 
 --------------------*/
/*---------------- 
这里是container的less文件引入
 ---------------*/
#container {
  clear: both;
  margin: 0 auto 40px;
  padding: 80px 20px 0;
  width: 960px;
}
/*----------------
引入完成
--------------- */
/*------------------
这是main标签的属性引入 
 -------------------*/
#main {
  float: left;
  width: 700px;
}
.main-header {
  text-align: center;
}
.main-title {
  margin: 0 0 20px;
  padding: .3em .5em;
  border-radius: 3px;
  background: #fd6d6d;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}
.adm-main {
  width: 100% !important;
}
/* ----------------
引入完成
 -----------------*/
/* 
-------------------------------
文章页的css属性。
-------------------------------
 */
.atc-entry {
  height: 280px;
  margin-bottom: 20px;
}
.atc-h {
  position: relative;
  height: 90px;
}
.atc-info {
  position: relative;
  top: 35px;
  left: 65px;
  margin-left: 10px;
  font-size: 12px;
}
.atc-r {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 85%;
  font-size: 15px;
  text-indent: 30px;
  word-break: break-word;
}
.atc-ra {
  position: absolute;
  bottom: 20px;
  right: 65px;
  font-size: 15px;
}
.atc-c-t {
  position: relative;
  top: 35px;
  left: 50px;
  -webkit-transition: text-shadow 1s;
  -o-transition: text-shadow 1s;
  transition: text-shadow 1s;
  font-weight: lighter;
}
.atc-c-t:hover {
  text-shadow: 0 0 5px #fd6d6d;
}
.atc-p {
  position: relative;
  left: 50px;
  width: 85%;
  font-size: 15px;
  text-indent: 30px;
}
.atc-content {
  padding-bottom: 100px;
  word-break: break-word;
}
.atc-link {
  position: absolute;
  bottom: 60px;
  left: 350px;
  width: 300px;
  text-align: left;
  font-size: 15px;
}
.atc-link:last-child {
  bottom: 40px;
}
/* 
-----------------------------------
文章页属性引入完毕
-----------------------------------
 */
/* 
-----------------------------
边栏的样式表
-----------------------------
 */
#sidebar {
  position: relative;
  float: right;
  overflow: hidden;
  width: 240px;
}
.widget {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-top: 3px solid #fd6d6d;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.widget-h {
  width: 100px;
  height: 24px;
  line-height: 20px;
  margin: 0 auto 10px;
  background-color: #fd6d6d;
  color: #fff;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.ms-info-bx {
  position: relative;
  width: 100%;
}
.ms-info-logo {
  position: absolute;
  left: 60%;
  top: 10px;
  margin-left: -25%;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.ms-info {
  position: relative;
  margin: 0 auto;
  width: 80%;
  top: 80px;
  height: 35px;
  font-size: 15px;
}
.w-tag-grp {
  width: 90%;
  margin: 0 auto;
}
.w-tag {
  font-size: 12px;
  padding: 5px 7px;
  color: #eee;
  border-radius: 5px;
}
.w-tag:nth-child(6n+1) {
  background-color: #428BCA;
}
.w-tag:nth-child(6n+1):hover {
  color: #fff;
}
.w-tag:nth-child(6n+2) {
  background-color: #5cb85c;
}
.w-tag:nth-child(6n+2):hover {
  color: #fff;
}
.w-tag:nth-child(6n+3) {
  background-color: #fd6d6d;
}
.w-tag:nth-child(6n+3):hover {
  color: #fff;
}
.w-tag:nth-child(6n+4) {
  background-color: #d9534f;
}
.w-tag:nth-child(6n+4):hover {
  color: #fff;
}
.w-tag:nth-child(6n+5) {
  background-color: #567e95;
}
.w-tag:nth-child(6n+5):hover {
  color: #fff;
}
.w-tag:nth-child(6n+6) {
  background-color: #b433ff;
}
.w-tag:nth-child(6n+6):hover {
  color: #fff;
}
.w-rpost {
  margin: 0;
  list-style-type: square;
}
.w-rpost-item {
  position: relative;
  height: 40px;
  width: 90%;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.w-rpost-item a {
  color: #1f1f1f;
}
.w-rpost-item:hover {
  left: 5px;
}
.w-rpost-item:hover a {
  color: #000;
  font-weight: bold;
}
.w-zhbewm {
  width: 240px;
  height: 240px;
}
.w-note {
  font-size: 12px;
  margin-left: 10px;
}
/* 
------------------------------
边栏引入完毕
------------------------------
 */
/* 
-------------------------
分页部份css
-------------------------
 */
.page-label {
  position: relative;
  top: 15px;
  clear: both;
  height: 40px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid #fd6d6d;
}
.page-lab-bx span,
.page-lab-bx .page-item {
  float: left;
  text-align: center;
  width: 6%;
  height: 40px;
  line-height: 40px;
}
.page-lab-bx .current {
  background-color: #fd6d6d;
  color: #fff;
}
.page-lab-bx a {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.page-lab-bx a:hover {
  background-color: #fd6d6d;
  color: #fff;
}
.page-lab-bx .totalPage {
  position: absolute;
  left: 66%;
  width: 12%;
  border-left: 1px solid #eee;
}
.page-lab-bx .ban {
  color: #eee;
}
.page-label-select {
  float: right;
  text-align: center;
  width: 120px;
  margin-right: 2px;
}
.page-label-select .pagination {
  width: 120px;
  position: relative;
  line-height: 40px;
  font-size: 16px;
  border-left: 1px solid #fd6d6d;
  border-right: 1px solid #fd6d6d;
  background-color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.page-label-select .pagination:hover {
  color: #fff;
  background-color: #fd6d6d;
}
.page-label-select .pagination:hover > .select-list {
  height: 90px;
  position: absolute;
  top: -25px;
  opacity: 1;
  width: 120px;
}
.page-label-select .pagination .select-list {
  position: absolute;
  border: 1px solid #fd6d6d;
  z-index: 100;
  top: 0px;
  height: 0px;
  width: 120px;
  margin: 0 ;
  padding: 0;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  background-color: #fff;
  -webkit-transition: all .4s ease .1s;
  -o-transition: all .4s ease .1s;
  transition: all .4s ease .1s;
}
.page-label-select .pagination .select-list .child-item {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.page-label-select .pagination .select-list .child-item:hover {
  background-color: #fd6d6d;
}
.page-label-select .pagination .select-list .child-item:hover > a {
  color: #fff;
}
.page-label-select .pagination .select-list .child-item a {
  display: block;
  padding: 0 11px;
}
/* 
------------------------------
底部版权信息等
------------------------------
 */
#footer {
  position: relative;
  clear: both;
  top: 50px;
  margin: 0 auto;
  padding: 2em 0;
  width: 960px;
  border-top: 3px solid #ddd;
  font-size: 12px;
  color: #aaa;
}
#footer a {
  color: #aaa;
  border-bottom: 1px dashed #000;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
#footer a:hover {
  color: #000000;
}
.ft-links {
  text-align: center;
}
.copyright {
  padding-top: 10px;
  text-align: center;
}
/* 
-------------------------------
友情链接页面 样式表
-------------------------------
 */
.friend-links {
  padding: 50px 0 40px 50px;
}
.flk-link {
  width: 20%;
  height: 25px;
  line-height: 25px;
  margin: 5px 8px;
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.flk-link:nth-child(6n+1) {
  background-color: #5cb85c;
}
.flk-link:nth-child(6n+1):hover {
  color: #fff;
}
.flk-link:nth-child(6n+2) {
  background-color: #428BCA;
}
.flk-link:nth-child(6n+2):hover {
  color: #fff;
}
.flk-link:nth-child(6n+4) {
  background-color: #b433ff;
}
.flk-link:nth-child(6n+4):hover {
  color: #fff;
}
.flk-link:nth-child(6n+3) {
  background-color: #d9534f;
}
.flk-link:nth-child(6n+3):hover {
  color: #fff;
}
.flk-link:nth-child(6n+5) {
  background-color: #567e95;
}
.flk-link:nth-child(6n+5):hover {
  color: #fff;
}
.flk-link:nth-child(6n+6) {
  background-color: #fd6d6d;
}
.flk-link:nth-child(6n+6):hover {
  color: #fff;
}
.flk-notice {
  bottom: -20px;
  margin: 0px 10px 0 10px;
  color: #bbb;
}
/* 
-----------------------------------
友情链接部份引入完成
-----------------------------------
 */
.card-box {
  position: relative;
  min-height: 200px;
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  clear: both;
  color: #999;
  border-top: 3px solid #fd6d6d;
}
.card-box::before {
  position: absolute;
  top: -5px;
  left: -5px;
  content: ' ';
  width: 0;
  height: 0;
  border-top: 70px solid #EEEEEE;
  border-right: 60px solid transparent;
}
.card-box::after {
  position: absolute;
  bottom: -5px;
  right: -5px;
  content: ' ';
  width: 0;
  height: 0;
  border-bottom: 70px solid #EEEEEE;
  border-left: 60px solid transparent;
}
/* 
-------------------------
登录框样式表引入
-------------------------
 */
#login-box {
  position: relative;
  width: 40%;
  height: 350px;
  margin: 50px auto 0;
  text-align: center;
}
.lg-label,
.lg-inpt {
  margin-top: 20px;
}
.lg-label {
  width: 30%;
  text-align: right;
}
.lg-inpt {
  height: 25px;
  width: 45%;
  padding-left: 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
  outline: none;
}
.lg-inpt:focus {
  border: 1px solid #fd6d6d;
}
.lg-button {
  width: 25%;
  height: 25px;
  margin: 20px 10px;
  background-color: #fd6d6d;
  border: none;
  outline: none;
}
.v-code {
  margin-top: 15px;
  width: 120px;
  height: 50px;
}
/* 
--------------------------
按钮链接 属性
--------------------------
 */
button,
.button,
.link {
  font-family: "microsoft yahei";
  color: #fff;
  background-color: #fd6d6d;
  border-radius: 5px;
  box-shadow: 0 2px 2px #000;
  -webkit-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
button:hover,
.button:hover,
.link:hover {
  box-shadow: 0 5px 10px #000;
}
button:active,
.button:active,
.link:active {
  box-shadow: 0 0 0 #000;
}
/* 
----------------------------
引入完成
----------------------------
 */
/* 
----------------------------
404页面css属性
----------------------------
 */
.nfp-notice {
  text-align: center;
  margin-top: 20px;
  font-size: 35px;
}
.nfp-link {
  display: block;
  width: 80px;
  margin: 50px auto 0;
  padding: 5px;
  text-align: center;
  background-color: #fd6d6d;
}
/* 
----------------------------
引入发布文章，修改文章样式表
----------------------------
 */
#write-article {
  position: relative;
  width: 80%;
  margin: 50px auto;
}
.w-atc-label {
  font-size: 20px;
  color: #666;
  margin: 10px 0 5px;
}
.w-atc-inpt {
  height: 30px;
  width: 100%;
  font-size: 15px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #eee;
  box-shadow: 0 1px 2px #eee;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.w-atc-inpt:focus {
  border-bottom: 2px solid #fd6d6d;
  box-shadow: 0 1px 1px #fd6d6d;
}
.w-atc-textarea {
  width: 100%;
  padding: 10px 0 0 10px;
  font-size: 15px;
  border-top: 2px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 2px solid #eee;
  box-shadow: 0 1px 2px #eee;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.w-atc-textarea:focus {
  border-top: 2px solid #fd6d6d;
  border-right: 1px solid #fd6d6d;
  border-left: 1px solid #fd6d6d;
  border-bottom: 2px solid #fd6d6d;
  box-shadow: 0 1px 1px #fd6d6d;
}
#w-atc-summary {
  height: 125px;
  line-height: 25px;
  font-size: 15px;
  text-indent: 30px;
}
#w-atc-content {
  height: 600px;
  margin-bottom: 100px;
  line-height: 25px;
  font-size: 15px;
  text-indent: 30px;
}
.post-button {
  position: relative;
  top: -70px;
  width: 10%;
  height: 30px;
  margin: 5px 10px;
  background-color: #fd6d6d;
  border: none;
  outline: none;
  float: right;
}
/*
----------------------------------
超级不喜欢的表格布局 仅为文章管理
---------------------------------- 
 */
table {
  width: 80%;
  margin: 50px auto;
  background-color: #000;
  border-radius: 5px;
}
th,
*[class$="-th"] {
  background-color: #eee;
  height: 40px;
  vertical-align: middle;
}
td {
  background-color: #fff;
  text-align: center;
}
.i-th {
  width: 10%;
}
.t-th {
  width: 70%;
}
.o-th {
  width: 20%;
}
.manage-atc ~ .card-box {
  padding-bottom: 1px;
}
.mng-atc-link {
  margin: 0 5px;
  padding: 5px;
  font-size: 12px;
}
/* 
-------------------------------
引入完毕
-------------------------------
 */
